/*My Mother would kill me if she caught me inline styling pretty straightforward what i did though just a touch of color*/

body {
  background: #7CA5B8;
}

h1 {
  text-align: center;
}
/*Styles for the about page*/
.infoSection {
  text-align: center;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.info {
  border-radius: 1em;
  margin-bottom: 20px;
}
.register {
  background: #EFD6AC;
}

.order {
  background: #E4F0D0;
}

.confirm {
  background: #B1C5A9;
}

/*Style for the registration page*/
.details, .address {
  display: flex;
  flex-direction: column;
}

.address {
  float: right;
}

.details input, .address input {
  width: 10rem;
  padding: .3rem;
  margin: .5rem 2rem 0 0;
  border-radius: 4px;
}

.registerforms {
  display: flex;
}

.submit {
  margin-top: 1rem;
}


/*Footer Styles*/

.foodarFooter ul {
  list-style: none;
}
